* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Heebo", sans-serif;
}
/*Header section*/
header {
  background: #ebebeb;
  height: 81px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 11px;
  padding-right: 50px;
}

#site-logo {
  display: block;
  background-image: url(../images/header/beready-logo1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 81px;
  width: 84px;
}
#info_section {
  display: flex;
  align-items: center;
}

#clientCompany-sign {
  width: 46px;
  height: 61px;
}

#user_info {
  width: 177px;
  height: 64px;
  gap: 0px;
  border-radius: 100px;
  opacity: 0px;
  background: #ffffff;
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding-right: 7px;
}

#user_info > div {
  display: flex;
  flex-direction: column;
}

#user_info > img {
  width: 62px;
  height: 55px;
}

#user_info > div > p {
  width: 75px;
  height: 19px;
  font-family: Heebo;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.5px;
  text-align: right;
  margin-right: 8px;
  margin-top: 0;
  margin-bottom: 0;
}

#user_info > div > p:last-child {
  width: 124px;
  height: 18px;
  font-family: Heebo;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.56px;
  text-align: right;
  color: #3ba585;
}

/*Side Menu section */
#sidebar {
  margin-top: 81px;
  height: 100vh;
  width: 200px;
  background-color: #ebebeb;
  position: fixed;
}
#sidebar .nav-link {
  color: #000;
  padding: 12px;
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 29.38px;
  text-align: right;
  display: flex;
  align-items: center;
}

.icon-img {
  width: 24px;
  height: 24px;
  margin-left: 12px;
  object-fit: contain;
}

#sidebar .nav-link:hover {
  background-color: #e9ecef;
  color: #bdbdbd;
}

#sidebar .nav-link.active {
  background-color: #ffffff;
  color: #bdbdbd;
}

main {
  padding-right: 200px;
  padding-top: 81px;
}

#page_info {
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 129px;
  margin-bottom: 2px;
}

#page_info > section {
  display: flex;
  align-items: center;
}

#page_info > section > h1 {
  height: 62px;
  font-family: Heebo;
  font-size: 48px;
  font-weight: 400;
  line-height: 70.5px;
  text-align: right;
  color: #000;
}

.add-activity-btn {
  width: 50px;
  height: 50px;
  background-image: url("/images/plus.png");
  background-size: cover;
  background-position: center 5px;
  cursor: pointer;
}

.btn.add-activity-btn:focus {
  box-shadow: none;
}

#sort-button {
  display: block;
  background-image: url(../images/sort.svg);
  width: 42px;
  height: 27px;
  flex-shrink: 0;
  fill: #000;
  margin-right: 21px;
  cursor: pointer;
}
.custom-search-form {
  width: 197px;
  height: 40px;
  position: relative;
  border-radius: 100px 100px 100px 100px;
  background: #f3f3f3c4;
  opacity: 0.8; /* Adjust opacity as needed */
}

.custom-search-input {
  border: none;
  background: transparent;
  height: 100%;
  width: calc(100% - 40px); /* Adjust for icon width */
  padding: 10px 15px;
  color: #333;
  border-radius: 12px 0px 0px 12px;
}

.custom-search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  padding: 10px;
  background: transparent url("../images/search-icon.svg") no-repeat center /
    24px 24px;
  border: none;
  cursor: pointer;
}

/*add activity modal*/
body {
  direction: rtl;
  text-align: right;
}
.modal-xl {
  width: 986px;
  max-width: 100%;
}
.modal-body {
  display: flex;
}

.modal-title {
  font-weight: bold;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
  display: flex;
  gap: 30px;
}

.modal-header .btn-close {
  margin-left: 0;
  margin-right: auto;
}

#activity-col-right {
  margin-left: 2rem;
}

.modal-footer .btn-danger,
.modal-footer .btn-secondary {
  border: none;
  outline: none;
  width: 131px;
  height: 39px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #ebebeb;
  color: #000;
  font-size: 18px;
  font-weight: 400;
}

.modal-footer .btn-scucess {
  width: 192px;
  height: 39px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #3ba585;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.form-group {
  margin-top: 1rem;
}

.form-row .form-group:first-child {
  margin-left: 119px;
}

.activity-row {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

#unit-select-group {
  display: flex;
  align-items: center;
  gap: 35px;
}

label {
  font-family: Heebo;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.44px;
  text-align: right;
}

.custom-border-end {
  border-right: 1px solid #d6d6d6;
  height: 384.005px;
}

#activity-form-name,
#activity-form-type,
#activity-form-description,
#activity-form-target,
#activity-form-unit {
  border-radius: 3px;
  border: 2px solid #d6d6d6;
}

#activity-form-name,
#activity-form-type {
  width: 264px;
  height: 39px;
}

#description {
  width: 645px;
  height: 90px;
}

#activity-form-target {
  width: 95px;
  height: 39px;
}
#unit {
  width: 135px;
  height: 39px;
  border-radius: 3px 0px 0px 0px;
  border: 2px 0px 0px 0px;
}
#upload {
  display: none;
}

#file-add-icon {
  cursor: pointer;
}

.form-check {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.form-check-input {
  order: -1;
  margin-top: 0;
}

.form-label {
  margin-right: 2.5rem;
}
.form-label > h4 {
  width: 152px;
  height: 42px;
  opacity: 1;
  font-size: 18px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
  background: #606060;
  border-radius: 3px;
  padding: 0;
  margin: 1.5rem;
  box-sizing: border-box;
  cursor: pointer;
}

/* Adding style to activity list items */
#activity-list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 108px);
  height: 119px;
  flex-shrink: 0;
  border-radius: 9px;
  background: rgba(223, 223, 223, 0.77);
  padding: 10px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 15px;
  margin-left: 93px;
  margin-bottom: 30px;
}

.activity-type-icon {
  flex-shrink: 0;
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 15px;
}

.activity-type-icon img {
  width: 72px;
  height: 72px;
}

.activity-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 15px;
  margin-top: 10px;
}

.activity-name {
  margin-bottom: 4px;
  font-family: Heebo;
  font-size: 36px;
  font-weight: 300;
  text-align: right;
  width: 354px;
  height: 43px;
  cursor: pointer;
}

.activity-details {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.activity-framework-type,
.activity-participants-amount,
.activity-date,
.activity-day,
.activity-hour {
  font-size: 24px;
  color: #000000;
  margin-right: 5px;
  display: flex;
  align-items: center;
  direction: rtl;
}

.activity-participants-amount::before,
.activity-date::before,
.activity-day::before,
.activity-hour::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-left: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}

.activity-participants-amount::before {
  background-image: url("/images/activity/buttons/people-icon.png");
}

.activity-date::before {
  background-image: url("/images/activity/buttons/clock-icon.png");
}

.activity-buttons {
  display: flex;
  align-items: center;
}

.activity-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.activity-buttons img {
  width: 49px;
  height: 49px;
}
/*Transition modal style*/
.modal-title {
  color: #444444;
  font-family: "Heebo", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.3;
  text-align: right;
}

.btn-light.button-1-copy-2 {
  width: 137px;
  height: 42px;
  padding: 0px 10px 1px 10px;
  background: #ebebeb;
  color: #444444;
  border-radius: 3px;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-right: 18rem;
}

.custom-button {
  width: 278px;
  height: 193px;
  padding: 8px;
  background: #dfdfdfc4;
  color: #000000;
  border-radius: 20px;
  font-weight: 400;
  font-size: 72px;
  line-height: 1.3;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-bottom: 1.5em;
}

.custom-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 200px;
}

/* schedule modal */
#date-input {
  width: 185px;
  height: 42px;
  padding: 6px 8px;
  background: #ffffff;
  color: #444444;
  border-color: #d6d6d6;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  font-family: "Heebo";
  font-weight: 400;
  font-size: 18px;
  text-align: right;
  margin-left: 1rem;
}
#form-row-schedule{
  margin-left: 0;
}

#time-from,
#time-to {
  width: 102px;
  height: 42px;
  padding: 6px 8px;
  background: #ffffff;
  color: #c0c0c0;
  border-color: #d6d6d6;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  font-family: "Heebo";
  font-weight: 400;
  font-size: 18px;
  text-align: right;
}

#repeat-select {
  width: 126px;
  height: 42px;
  border-color: #d6d6d6;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  font-weight: 400;
  font-size: 18px;
  text-align: right;
}

#participants-group {
  display: flex;
  align-items: center;
}

#participants-label {
  margin-right: 10px;
  font-family: "Heebo";
  font-weight: 400;
  font-size: 18px;
  text-align: right;
}

#participants-input {
  width: 57px;
  height: 42px;
  padding: 6px 8px;
  background: #ffffff;
  color: #444444;
  border-color: #d6d6d6;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  font-family: "Heebo";
  font-weight: 400;
  font-size: 18px;
  text-align: right;
  margin-right: 1rem;
}
.btn-success {
  width: 183px;
  height: 42px;
  padding: 0px 10px 1px 10px;
  background: #3BA585;
  color: #FFFFFF;
  border-radius: 3px;
  font-family: "Heebo";
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  border: none;
}
/* responsive alternatives */
@media (max-width: 768px) {
  #sidebar {
    width: 100%;
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
  }
}
