* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Heebo", sans-serif;
}
/*Header section*/
header {
  background: #ebebeb;
  height: 81px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 11px;
  padding-right: 50px;
}

#site-logo {
  display: block;
  background-image: url(../images/header/beready-logo1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 81px;
  width: 84px;
}
#info_section {
  display: flex;
  align-items: center;
}

#clientCompany-sign {
  width: 46px;
  height: 61px;
}

#user_info {
  width: 177px;
  height: 64px;
  gap: 0px;
  border-radius: 100px;
  opacity: 0px;
  background: #ffffff;
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding-right: 7px;
}

#user_info > div {
  display: flex;
  flex-direction: column;
}

#user_info > img {
  width: 62px;
  height: 55px;
}

#user_info > div > p {
  width: 75px;
  height: 19px;
  font-family: Heebo;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.5px;
  text-align: right;
  margin-right: 8px;
  margin-top: 0;
  margin-bottom: 0;
}

#user_info > div > p:last-child {
  width: 124px;
  height: 18px;
  font-family: Heebo;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.56px;
  text-align: right;
  color: #3ba585;
}

/*Side Menu section */
#sidebar {
  margin-top: 81px;
  height: 100vh;
  width: 200px;
  background-color: #ebebeb;
  position: fixed;
}
#sidebar .nav-link {
  color: #000;
  padding: 12px;
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 29.38px;
  text-align: right;
  display: flex;
  align-items: center;
}

.icon-img {
  width: 24px;
  height: 24px;
  margin-left: 12px;
  object-fit: contain;
}

#sidebar .nav-link:hover {
  background-color: #e9ecef;
  color: #bdbdbd;
}

#sidebar .nav-link.active {
  background-color: #ffffff;
  color: #bdbdbd;
}

main {
  padding-right: 192px;
  padding-top: 81px;
}

#page_info {
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 129px;
  margin-bottom: 2px;
}

#page_info > section {
  display: flex;
  align-items: center;
}

#page_info > h1 {
  height: 62px;
  font-family: Heebo;
  font-size: 48px;
  font-weight: 400;
  line-height: 70.5px;
  text-align: right;
  color: #000;
}

.add-activity {
  width: 50px;
  height: 50px;
  background-image: url("/images/plus.png");
  background-size: cover;
  background-position: center 5px;
  cursor: pointer;
}

.btn.add-activity:focus {
  box-shadow: none;
}

#sort-button {
  display: block;
  background-image: url(../images/sort.svg);
  width: 42px;
  height: 27px;
  flex-shrink: 0;
  fill: #000;
  margin-right: 21px;
  cursor: pointer;
}
.custom-search-form {
  width: 197px;
  height: 40px;
  position: relative;
  border-radius: 100px 100px 100px 100px;
  background: #f3f3f3c4;
  opacity: 0.8; /* Adjust opacity as needed */
}

.custom-search-input {
  border: none;
  background: transparent;
  height: 100%;
  width: calc(100% - 40px); /* Adjust for icon width */
  padding: 10px 15px;
  color: #333;
  border-radius: 12px 0px 0px 12px;
}

.custom-search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  padding: 10px;
  background: transparent url("../images/search-icon.svg") no-repeat center /
    24px 24px;
  border: none;
  cursor: pointer;
}

/* responsive alternatives */
@media (max-width: 768px) {
  #sidebar {
    width: 100%;
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
  }
}

/*add activity modal*/
body {
  direction: rtl;
  text-align: right;
}

.custom-border-end {
  border-right: 1px solid #d6d6d6;
  height: 384.005px;
}

#upload {
  display: none;
}

#file-add-icon {
  cursor: pointer;
}

.form-label > h4 {
  width: 152px;
  height: 42px;
  opacity: 1;
  font-family: Heebo;
  font-size: 18px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
  background: #606060;
  border-radius: 3px 0 0 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
  #activity-list > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

